.wrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    margin-bottom: 30px;
    height: 100vh;
    width: 100vw;
  }
  
.dropzone {
    border-width: 1px;
    width: 500px;
}
  
.icon {
    color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}
.Uploading {
    background-color: #f0f8ff; /* Soft blue background */
    max-width: 90vh; /* Ensures it looks good on smaller screens */
    min-width: 50vh; /* Standard width */


    
    padding: 20px;
    border-radius: 12px; /* Slightly more rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    margin-top: 20px;
    margin-bottom: 20px;

    /* Centering the div */
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -95%);
}
