.wrapper {
  min-height: 900px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://images.pexels.com/photos/162292/seagull-bird-animal-nature-162292.jpeg?cs=srgb&dl=pexels-pixabay-162292.jpg&fm=jpg);
  display: flex;
  justify-content: flex-end;
  
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  min-height: 900px;
  height: 100vh;
  max-width: 600px;
  min-width: 550px;
  padding-top: 80px;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
}