/* Card.css */
.birdcard {
  width: fit-content;
  padding: 10px;
  height: fit-content;
  background-color: #f5f4f4;
  border-color: #e8e8e8;
  border-width: 1px;
  border-style: solid;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
}

.cardimage {
  width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 3px;
}

.cardtitle {
  margin-top: 10px;
  text-align: center;
}

.cardfact {
  text-align: center;
}

.carddate {
  text-align: center;
}

