.wrapper {
    min-height: 100vh;
    padding-bottom: 5cm;
}
  
.title {
    margin-bottom: 5cm;
}
  
.item {
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.deleteButton{
    background-color: rgb(255, 0, 0);
}

.deleteButton:hover{
    background-color: rgb(225, 0, 0);
}