.page {
  min-height: 900px;
  height: 100%;
  background-color: aqua;
  background-size: contain;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.title{
  margin-bottom: 100px;
  text-align: center;
}
