.page {
  min-height: 900px;
  height: 100%;
  background-color: aqua;
  background-size: contain;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.subtitle{
  margin-top: 100px;
}

.wrapper {
  max-height: 100vh;
}

.list{
  list-style: none;
}